//EXTEND

.boton{
    width: 50px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    color:$colorTerciario;
    border-radius:10px;
    padding: 10px;
    margin: 10px;
}

//BOTON PRIMARIO, SECUNDARIO Y TERCIARIO

@each $contexto in primario, secundario, terciario{
    .boton-#{$contexto}{
        @extend .boton;
    }
}

.boton-primario{
    background-color: $colorTerciario;
    color: $colorSecundario;
    border: 1px solid black;
}
.boton-secundario{
    background-color: $colorTerciario;
    color: $colorSecundario;
    border: 1px solid $colorPrincipal;
    
}