.p20{padding: 20px;}
.p50{padding: 50px;}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

//BACKGROUND FORMULARIOS
.bgform{
    background-color: $colorPrincipal;
    border-radius: 20px ;
    border: 2px $colorPrincipal;
}
/* cambiar el color de fondo a la barra */

.nav-link{color: $colorTerciario;
          font-size: 20px;}

//NESTING
header{
    nav{padding:10px;
    ul{display: flex;
         li{list-style-type: none;
            a{text-decoration: none;
            font-size: 20px;
            font-style: italic;
            color:$colorTerciario;
            padding: 20px;
            }
           }
    }
}
}
.footer {
    background-color:$colorPrincipal;
    padding: 40px 0;
  
    .social-icons {
      display: flex;
      justify-content: flex-start;
  
      a {
        color:$colorPrincipal;
        margin-right: 20px;
  
        &:hover {
          color: #007bff;
        }
  
        .fab {
          font-size: 24px;
        }
      }
    }
  
    .contact-info {
      text-align: right;
      
      
      
  
      a {
        font-size: 20px;
        color: $colorSecundario;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        flex-wrap: wrap;
  
        &:hover {
          color:$colorTerciario;
        }
      }
    }
  
    .copy-right {
      text-align: center;
      margin-top: 40px;
  
      p {
        font-size: 14px;
        color: $colorSecundario;
      }
    }
  }
