.p20{padding: 20px;}
.p50{padding: 50px;}
.contacto{
    color: $colorTerciario;
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
}
/* cambiar el color de fondo a la barra */

.nav-link{color: $colorTerciario;
          font-size: 20px;}

.bg-bcard{background-color: 
    #37D7CB
    ;}
.card-title{font-family: 'Poltawski Nowy', serif;
    font-family: 'Roboto', sans-serif;}    
