//Variables


$negro: #0000;
$bgb: #37D7CB;
$colorPrincipal: #9A9A9A;
$colorSecundario: #F5E5F0;
$colorTerciario: #9A1436;
$blue: blue;



//Tamaños de fuente 

$pDesktop: 1.7rem;
$pMobile: 1.3rem;
$hDesktop:3rem;
$hMobile:2rem;
